body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.color-change {
    color: navy;
}

.orange-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: repeating-linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.section-one {
    display: flex
}

.half-width {
    width: 50%;
    padding: 2% 5%;
}

.half-width img {
    width: 70%;
}

.section-one {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.section-two {
    display: flex;
    margin-top: 100px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.fb-button {
    text-decoration: none;
    background-image: repeating-linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.experience {
    display: flex
}

.experience-item {
    width: 40%;
    margin: 5%;
    box-shadow: 10px 10px 50px gray;
    padding-left: 25px;
    border-left: 7px solid blueviolet;
}

#first-ex {
    border-left: 7px solid tomato;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;



}

footer p {
    text-align: center;
}